<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Shoppy Shoperson</h1>
    {{#if user}}
      <p>Hello {{user.username}} (<a href="/logout">Logout</a>)</p>
    {{/if}}
    <div class="content">
      {{{body}}}
    </div>
    {{#if user}}
    <a href="/lists/create">Create List</a> | <a href="/lists">All Lists</a>
    {{else}}
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    {{/if}}
  </body>
</html>
